
th {
    text-align: left;
    background: #4a89dc;
    color:      #fff;
}

td.FAIL {
    background: #da4453;
    color:      #fff;
}

td.PASS {
    background: #37bc9b;
    color:      #fff;
}

td.POLYFILL {
    background: #37bc9b;
    color:      #000;
    
}

td.NOTRUN, td.TIMEOUT, td.undefined {
    background: #f6bb42;
    color:  #fff;
}

table > tbody > tr > td.NOTRUN, table > tbody > tr > td.TIMEOUT {
    padding:    8px 2px;
}

td.OK {
    color:  transparent;
}

td.FAIL, td.PASS, td.POLYFILL, td.NOTRUN, td.TIMEOUT, td.undefined, td.OK {
    font-size:  0.8em;
    text-align: center;
}

tr.test {
    background: #ccd1d9;
}

tr.test > td:first-of-type {
    font-weight:    bold;
}

tr.test small {
    font-weight:    normal;
}

tr.subtest > td:first-of-type {
    padding-left:   2em;
    max-width:  790px;
    overflow:   hidden;
    text-overflow:  ellipsis;
    white-space:    nowrap;
}

tr.messages > td:first-of-type {
    width: 100%;
    padding-left:   2em;
}

tr.message > td.ua {
  font-weight: bold;
  vertical-align: top;
  padding-right: 1em;
}

.floatingHeader {
    position: fixed;
    top: 0;
    visibility: hidden;
}

.message_toggle {
  padding-left: 3em;
  display: none;
  font-size: 0.7em;
  cursor: pointer;
}

dd {
    padding-left:   2em;
}
